name: Build ISO

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build ISO
        run: sudo bash build.sh

      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: debian-win2k-iso
          path: live-image-amd64.hybrid.iso
